In [2]:
import pandas as pd
import numpy as np

In [6]:
df = pd.read_csv("Downloads/netflix_titles.csv")

In [8]:
df.sample(3)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
281,s282,Movie,Brother Jekwu,Charles Uwagbai,"Mike Ezuruonye, Juliet Ochienge, Angela Okorie...",Nigeria,"August 11, 2021",2016,TV-14,101 min,"Comedies, International Movies","Chasing wild success, a village hustler follow..."
4638,s4639,TV Show,Ingobernable,NaN,"Kate del Castillo, Eréndira Ibarra, Alberto Gu...",Mexico,"September 14, 2018",2018,TV-MA,2 Seasons,"Crime TV Shows, International TV Shows, Spanis...",The first lady of Mexico is a woman of convict...
4506,s4507,Movie,Meghnadbodh Rohoshyo,Anik Datta,"Barun Chanda, Sabyasachi Chakraborty",India,"October 15, 2018",2017,TV-MA,150 min,"Dramas, International Movies","A professor mysteriously vanishes, leaving beh..."

In [9]:
df.drop(["show_id", "description"], axis = 1, inplace = True)

In [10]:
df.sample(3)

,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in
7481,Movie,Mona Lisa Smile,Mike Newell,"Julia Roberts, Kirsten Dunst, Julia Stiles, Ma...",United States,"January 1, 2019",2003,PG-13,119 min,Dramas
3951,Movie,Jagat,Shanjey Kumar Perumal,"Harvind Raj, Jibrail Rajhula, Tinesh Sarathi K...",Malaysia,"April 2, 2019",2015,TV-MA,76 min,"Dramas, International Movies"
6573,Movie,Dayveon,Amman Abbasi,"Devin Blackmon, Dontrell Bright, Kordell ""KD"" ...",United States,"January 11, 2018",2017,TV-MA,76 min,"Dramas, Independent Movies"

In [11]:
df.columns

Index(['type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in'],
      dtype='object')

In [12]:
df.size

88070

In [13]:
df.shape

(8807, 10)

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   type          8807 non-null   object
 1   title         8807 non-null   object
 2   director      6173 non-null   object
 3   cast          7982 non-null   object
 4   country       7976 non-null   object
 5   date_added    8797 non-null   object
 6   release_year  8807 non-null   int64
 7   rating        8803 non-null   object
 8   duration      8804 non-null   object
 9   listed_in     8807 non-null   object
dtypes: int64(1), object(9)
memory usage: 688.2+ KB

In [17]:
df.isna().sum()

type               0
title              0
director        2634
cast             825
country          831
date_added        10
release_year       0
rating             4
duration           3
listed_in          0
dtype: int64

In [20]:
df["country"].value_counts().head(5)

country
United States     2818
India              972
United Kingdom     419
Japan              245
South Korea        199
Name: count, dtype: int64

In [30]:
mode_country = df["country"].mode()[0]

In [31]:
mode_country

'United States'

In [32]:
df["country"] = df["country"].fillna(mode_country)

In [33]:
df.isna().sum()

type               0
title              0
director        2634
cast             825
country            0
date_added        10
release_year       0
rating             4
duration           3
listed_in          0
dtype: int64

In [34]:
df["date_added"].value_counts().head(5)

date_added
January 1, 2020      109
November 1, 2019      89
March 1, 2018         75
December 31, 2019     74
October 1, 2018       71
Name: count, dtype: int64

In [35]:
mode_date = df["date_added"].mode()[0]

In [36]:
mode_date

'January 1, 2020'

In [38]:
df["date_added"] = df["date_added"].fillna(mode_date)

In [41]:
df.isna().sum()

type               0
title              0
director        2634
cast             825
country            0
date_added         0
release_year       0
rating             4
duration           3
listed_in          0
dtype: int64

In [42]:
mode_rating = df["rating"].mode()[0]

In [43]:
mode_rating

'TV-MA'

In [44]:
df["rating"]= df["rating"].fillna(mode_rating)

In [46]:
mode_duraton = df["duration"].mode()[0]

In [47]:
df["duration"] = df["duration"].fillna(mode_rating)

In [49]:
df.isna().sum()

type               0
title              0
director        2634
cast             825
country            0
date_added         0
release_year       0
rating             0
duration           0
listed_in          0
dtype: int64

In [50]:
df["director"] = df["director"].fillna("Not Available")

In [51]:
df["cast"] = df["cast"].fillna("Not Available")

In [52]:
df.isna().sum()

type            0
title           0
director        0
cast            0
country         0
date_added      0
release_year    0
rating          0
duration        0
listed_in       0
dtype: int64

In [53]:
df["rating"].unique()

array(['PG-13', 'TV-MA', 'PG', 'TV-14', 'TV-PG', 'TV-Y', 'TV-Y7', 'R',
       'TV-G', 'G', 'NC-17', '74 min', '84 min', '66 min', 'NR',
       'TV-Y7-FV', 'UR'], dtype=object)

In [54]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   type          8807 non-null   object
 1   title         8807 non-null   object
 2   director      8807 non-null   object
 3   cast          8807 non-null   object
 4   country       8807 non-null   object
 5   date_added    8807 non-null   object
 6   release_year  8807 non-null   int64
 7   rating        8807 non-null   object
 8   duration      8807 non-null   object
 9   listed_in     8807 non-null   object
dtypes: int64(1), object(9)
memory usage: 688.2+ KB

In [55]:
df = df[~df["rating"].str.contains("min")]

In [56]:
df["rating"].unique()

array(['PG-13', 'TV-MA', 'PG', 'TV-14', 'TV-PG', 'TV-Y', 'TV-Y7', 'R',
       'TV-G', 'G', 'NC-17', 'NR', 'TV-Y7-FV', 'UR'], dtype=object)

In [57]:
df["date_added"].unique()

array(['September 25, 2021', 'September 24, 2021', 'September 23, 2021',
       ..., 'December 6, 2018', 'March 9, 2016', 'January 11, 2020'],
      shape=(1766,), dtype=object)

In [59]:
df["date_added"] = df["date_added"].str.replace(","," ")

/var/folders/l5/p_wq1l6j2tb6vp84qnbl9pnm0000gn/T/ipykernel_58256/2988882423.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["date_added"] = df["date_added"].str.replace(","," ")

In [60]:
df["date_added"].unique()

array(['September 25 2021', 'September 24 2021', 'September 23 2021', ...,
       'December 6 2018', 'March 9 2016', 'January 11 2020'],
      shape=(1766,), dtype=object)

In [61]:
df["date_added"] = pd.to_datetime(df["date_added"], format = "mixed")

/var/folders/l5/p_wq1l6j2tb6vp84qnbl9pnm0000gn/T/ipykernel_58256/19256588.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["date_added"] = pd.to_datetime(df["date_added"], format = "mixed")

In [62]:
df["date_added"].unique()

<DatetimeArray>
['2021-09-25 00:00:00', '2021-09-24 00:00:00', '2021-09-23 00:00:00',
 '2021-09-22 00:00:00', '2021-09-21 00:00:00', '2021-09-20 00:00:00',
 '2021-09-19 00:00:00', '2021-09-17 00:00:00', '2021-09-16 00:00:00',
 '2021-09-15 00:00:00',
 ...
 '2018-09-27 00:00:00', '2017-03-23 00:00:00', '2016-12-25 00:00:00',
 '2016-11-30 00:00:00', '2017-10-23 00:00:00', '2017-11-04 00:00:00',
 '2015-08-05 00:00:00', '2018-12-06 00:00:00', '2016-03-09 00:00:00',
 '2020-01-11 00:00:00']
Length: 1714, dtype: datetime64[ns]

In [64]:
df["Year"] = df["date_added"].dt.year

/var/folders/l5/p_wq1l6j2tb6vp84qnbl9pnm0000gn/T/ipykernel_58256/2580486166.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Year"] = df["date_added"].dt.year

In [65]:
df["Month"] = df["date_added"].dt.month

/var/folders/l5/p_wq1l6j2tb6vp84qnbl9pnm0000gn/T/ipykernel_58256/51735179.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Month"] = df["date_added"].dt.month

In [66]:
df["Day"] = df["date_added"].dt.day

/var/folders/l5/p_wq1l6j2tb6vp84qnbl9pnm0000gn/T/ipykernel_58256/1142234117.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Day"] = df["date_added"].dt.day

In [67]:
df.sample(5)

,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,Year,Month,Day
3160,Movie,Michelle Wolf: Joke Show,Lance Bangs,Michelle Wolf,United States,2019-12-10,2019,TV-MA,60 min,Stand-Up Comedy,2019,12,10
5349,TV Show,Entangled,Not Available,"Thomas Ong, Jack Tan, Margaret Wang, Kate Pang...",South Korea,2017-08-01,2014,TV-14,1 Season,"International TV Shows, TV Dramas",2017,8,1
7176,TV Show,Ken Burns: The Roosevelts: An Intimate History,Ken Burns,Not Available,United States,2017-02-22,2014,TV-PG,1 Season,Docuseries,2017,2,22
6253,TV Show,Battlefield Recovery,Not Available,Not Available,United Kingdom,2016-08-01,2016,TV-PG,1 Season,"British TV Shows, Docuseries, Reality TV",2016,8,1
8260,Movie,The Cruise,Marek Piwowski,"Jan Himilsbach, Stanislaw Tym, Jerzy Dobrowols...",Poland,2019-10-01,1970,TV-PG,66 min,"Comedies, Cult Movies, International Movies",2019,10,1

In [70]:
df["genre"] = df["listed_in"].str.split(",").str[0]

/var/folders/l5/p_wq1l6j2tb6vp84qnbl9pnm0000gn/T/ipykernel_58256/2972914143.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["genre"] = df["listed_in"].str.split(",").str[0]

In [76]:
df["genre"].value_counts().sample(5)

genre
Thrillers            65
Documentaries       829
Anime Features       21
TV Shows             16
British TV Shows    253
Name: count, dtype: int64

In [89]:

df = df[df["cast"]!="Not Available"]

In [90]:
df["lead_actor"] = df["cast"].str.split(",").str[0]

In [91]:
df["lead_actor"].value_counts().head(5)

lead_actor
Shah Rukh Khan        26
Akshay Kumar          23
Amitabh Bachchan      20
David Attenborough    20
Adam Sandler          20
Name: count, dtype: int64

In [92]:
df.sample(5)

,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,Year,Month,Day,Genre,genre,lead_actor
2886,Movie,Pete Davidson: Alive From New York,Jason Orley,Pete Davidson,United States,2020-02-25,2020,TV-MA,50 min,Stand-Up Comedy,2020,2,25,Stand-Up Comedy,Stand-Up Comedy,Pete Davidson
1452,Movie,Gimme Shelter,Ron Krauss,"Vanessa Hudgens, James Earl Jones, Rosario Daw...",United States,2021-01-01,2013,PG-13,101 min,"Dramas, Independent Movies",2021,1,1,Dramas,Dramas,Vanessa Hudgens
7,Movie,Sankofa,Haile Gerima,"Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra D...","United States, Ghana, Burkina Faso, United Kin...",2021-09-24,1993,TV-MA,125 min,"Dramas, Independent Movies, International Movies",2021,9,24,Dramas,Dramas,Kofi Ghanaba
4121,Movie,Kevin Hart's Guide to Black History,Tom Stern,"Kevin Hart, Saniyya Sidney, Lil Rel Howery, Eo...",United States,2019-02-08,2019,TV-PG,63 min,"Children & Family Movies, Comedies",2019,2,8,Children & Family Movies,Children & Family Movies,Kevin Hart
3528,Movie,Bill Burr: Paper Tiger,Mike Binder,Bill Burr,"United States, United Kingdom",2019-09-10,2019,TV-MA,67 min,Stand-Up Comedy,2019,9,10,Stand-Up Comedy,Stand-Up Comedy,Bill Burr

In [96]:
df.drop(["date_added", "listed_in", "cast", "Genre"], axis=1, inplace = True)

In [97]:
df.sample(5)

,type,title,director,country,release_year,rating,duration,Year,Month,Day,genre,lead_actor
5017,Movie,Trailer Park Boys Live In F**kin' Dublin,"Mike Smith, John Paul Tremblay, Robb Wells",Canada,2014,TV-MA,81 min,2018,3,1,Movies,Mike Smith
3554,Movie,Unbridled,Jota Linares,Spain,2018,TV-MA,100 min,2019,8,30,International Movies,Natalia de Molina
4079,TV Show,Unsolved,Not Available,United States,2018,TV-MA,1 Season,2019,2,27,Crime TV Shows,Josh Duhamel
742,Movie,Camellia Sisters,"Bao Nhan, Namcito",Vietnam,2021,TV-MA,117 min,2021,6,10,Dramas,Le Khanh
3381,TV Show,The Untamed,Not Available,China,2019,TV-14,1 Season,2019,10,25,International TV Shows,Sean Xiao

In [98]:
df.to_csv("transformed_data.csv")